@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Enter the Madness</h1>
    <p class="lead">The Madness League is the ultimate March Madness challenge for fantasy sports enthusiasts and casual fans alike.</p>
    <p>Do you have what it takes? Or are you a bracket buster?</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Create Your Picks &raquo;</a></p>
</div>

