
@{
    ViewBag.Title = "View";
}


<h2>Madness MatchUps - Round 1</h2>

<form action="makePicks">
<input type="radio" name="team" value="team1">Team1<br />
<input type="radio" name="team" value="team2">Team2
</form>


