
@{
    ViewBag.Title = "View";
}


<h2>Madness MatchUps - Round 1</h2>

<form action="makePicks">
<input type="radio" name="team" value="team16">Team1<br />
<input type="radio" name="team" value="team1">Team2<br/>
<br />
<input type="radio" name="team" value="team15">Team1<br />
<input type="radio" name="team" value="team2">Team2<br />
    <br />

<input type="radio" name="team" value="team">Team14<br />
<input type="radio" name="team" value="team2">Team3<br/>
    <br />
<input type="radio" name="team" value="team1">Team13<br />
<input type="radio" name="team" value="team2">Team4<br />
    <br />
<input type="radio" name="team" value="team1">Team12<br />
<input type="radio" name="team" value="team2">Team5<br />
    <br />
<input type="radio" name="team" value="team1">Team11<br />
<input type="radio" name="team" value="team2">Team6<br />
    <br />
<input type="radio" name="team" value="team1">Team10<br />
<input type="radio" name="team" value="team2">Team7<br />
    <br />
<input type="radio" name="team" value="team1">Team9<br />
<input type="radio" name="team" value="team2">Team8<br />
</form>


